html{
    /* height: 100%;
    width: 100%; */
}

body{
    font-family: 'Raleway', sans-serif;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* height: 100%;
    width: 100%; */
    /*opacity: 40%;*/
    /*-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);*/
}

.row{

}

[class*="col-"]{
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 15px;
}

#icon-group{
    color: #DCDCDC;
    margin-top: 9%;
}

#icon-group i{
    font-size: 70px !important;
    position: relative;
    vertical-align: bottom;
    cursor: pointer;
}

.fa{
    margin-right: 20px;
}

.fa:hover{
    color: white;
}

.active{
    opacity: 1 !important;
    color: white;
}

.fa-home{
    opacity: 0.5;
}

#icon-group .fa-envelope{
    opacity: 0.5;
    font-size: 60px !important;
    margin-right: 30px;
    top:-4px;
}

#icon-group .fa-file-text{
    opacity: 0.5;
    font-size: 50px !important;
    top:-9px;
}

#profile{
    width: 100%;
    height: 100%;
}

.text-muted{
    font-size: 18px;
}

#content{
    background-color: white;
    border-radius: 10px;
}

#content .row{
    margin-left: 0px !important;
}

#content h1{
    font-size: 60px;
    margin-left: 0px !important;
}

#contact{
    display: none;
}

#contact p{
    font-size: 60px;
    margin-bottom: 0px !important;
    padding-left: 25px;
}

#contact .list-group{
    padding: 20px;
    font-size: 20px !important;
    margin-bottom: 0px;
}

#contact i{
    font-size: 50px !important;
    cursor: pointer;
}

#contact .fa:hover{
    color: black
}

#main-text{
    /* margin-top: 20px;
    text-align: left;
    color: #696969;
    background: white;
    font-size: 20px; */
}

@media (max-width: 650px){
    .fa{
        margin-right: 20px;
        font-size: 30px !important;
    }
}