html{
    /* height: 100%;
    width: 100%; */
}

body{
    font-family: 'Raleway', sans-serif;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* height: 100%;
    width: 100%; */
    /*opacity: 40%;*/
    /*-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);*/
}

.row{

}

[class*="col-"]{
    padding-top: 15px;
    padding-bottom: 15px;
}

#icon-group{
    color: white;
    margin-top: 9%;
}

i {
    font-size: 70px !important;
    position: relative;
    vertical-align: bottom;
}

.fa{
    margin-right: 20px;
}

.fa:hover{
    color: #ccf5fd;
}

.fa-envelope{
    font-size: 60px !important;
    margin-right: 30px;
    top:-4px;
}

.fa-file-text{
    font-size: 50px !important;
    top:-9px;
}

#content{
    /* color: white;
    font-size: 22px;
    position: absolute;
    padding: 20px;
    transform: translateY(-50%);
    top: 30%;
    width: 100%; */
}


#main-text{
    /* margin-top: 20px;
    text-align: left;
    color: #696969;
    background: white;
    font-size: 20px; */
}

@media (max-width: 650px){
    .fa{
        margin-right: 20px;
        font-size: 30px !important;
    }
}