html{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px); */
}

.nav-pills {
    margin: 10px;
}

.nav-pills a {
    color: #C7DFFF;
}

.nav-pills a:hover {
    text-decoration: none !important;
}

.nav-pills .nav-link {
    color: #FFFFFF;
    cursor: pointer;
}

.nav-pills .nav-link:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.nav-pills .nav-link.active {
    color: #000000;
    background-color: #FFFFFF;
}

#content {
    background-color: white;
    border-radius: 10px;
}

#content .section {
    padding: 20px
}

#content h1{
    font-size: 50px;
}

#content .text-secondary {
    font-size: 18px;
    margin-left: 5px;
    opacity: 0.5;
}

#contact {
    display: none;
}

#contact a {
    color: #777777;
}

#contact a:hover {
    text-decoration: none;
    color: #000000;
}

@media (max-width: 576px){

}