#home {
background: url( )
}
.navbar{
    position: fixed;
    padding: 0px;
    background: #000;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #fff
	
}
#logo{
    color: #D8D8D8;
    font-size: 60px;
    margin-left: 70px;
    margin-top: 24px;
    letter-spacing: 2px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    
}
.breadcrumb {
    color: #D8D8D8;
    font-size: 15px;
    letter-spacing: 1px;
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}

.breadcrumb a{
    text-decoration: none;
}

.breadcrumb a:hover{
    color: #FFF;
}

#home{
    background: url(blackbg1.jpg) 50% 0 repeat fixed;min-height: 1100px;
   	margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#home article{
	width: 980px;
	margin:0 auto;
	font-size: 30px;
	color: #D8D8D8; 
	text-align: center;
	padding: 150px 0px 0px 0px;
}

#home a{
    text-decoration: none;
}

#home a:hover{
    color: #FFF;
}
    

#contact{
	background: url(greybg2.jpg) 50% 0 no-repeat;min-height: 1000px;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#contact article{
	text-align: center;
	margin: 0 auto;
	font-size: 50px;
	padding: 200px 0px 0px 0px;
}

a{
	color: #D8D8D8;
}

#pp{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width:140px; 
	height:140px;
	padding: 250px 0px 0px 10px;
}

.contactlist{
    
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
}
.gmicon{
	padding: 20px;
	
}
.liicon{
	
}
.ghicon{
	padding: 0px 0px 0px 20px;
}
