@import url(http://fonts.googleapis.com/css?family=Exo+2);
a,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #FFFFFF;
}
a:hover{
    color: #3E606F !important;
    text-decoration: none;
}

@media (min-width: 768px){
    .navbar-fixed-top {
        padding: 25px 0 !important;
    }

    .navbar-fixed-top .navbar-brand{
        font-size: 3em;
    }

    #home h1{
        font-size: 50px;
    }

    #home .container{
        width: 900px;
        font-size: 30px;
    }
}

@media (max-width: 768px){

    #home h1{
        font-size: 40px;
    }
    #home .container{
        font-size: 20px;
    }
}

.navbar{
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    background-color: #91AA9D;
    border-color: transparent;
    letter-spacing: 1px;
}

.navbar-fixed-top{
    padding: 0;
    font-size: 15px;
}
.navbar .navbar-nav {
    color: white;
}
.navbar-inverse{
    border: 0;
}
.navbar-brand{
    
    color: #ffffff !important;
}
.navbar-default .navbar-nav li a{
    color: #ffffff;
}

#home{
    background-color: #193441;
   	margin: 0 auto;
    width: 100%;
}

#home h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2',sans-serif;
}

#home .container{
	color: #ffffff; 
	text-align: center;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 40px;
}
    
#projects{
    background:url('1812813.png') 50% 0 no-repeat fixed;
    background-size: cover;
    margin: auto;
}
#projects h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    margin-top: 120px;
    
}

#projects .container{
    margin-bottom: 60px;

}
#projects .img-thumbnail{
    height: 300px !important;
}
#proj-pic{
    margin-top: 50px;
    max-width: 900px;
}


#contact{
    /*background-color: #D1DBBD;*/
    background:url('footer_lodyas.png');
    width: 100%
    
}

#contact h1{
    text-align: center;
    margin-top: 120px;
    font-size: 50px;
    font-family: 'Exo 2',sans-serif;
    color: #ffffff;
/*    color: #193441;
*/    font-weight: 700;
}

#contact img{
    height: 120px;
    width: 120px;
}

#social{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 250px;
}

#pp{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
    text-align: center;
    padding-top: 200px;
}

#res-icon{
    font-size: 120px;
}