@import url(http://fonts.googleapis.com/css?family=Exo+2);
#home {
background: url( )
}
.navbar{
    position: fixed;
    padding: 0px;
    background: #000;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #fff
	
}
#logo{
    color: #D8D8D8;
    font-size: 60px;
    margin-left: 70px;
    margin-top: 24px;
    letter-spacing: 2px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    
}
.breadcrumb {
    color: #D8D8D8;
    font-size: 15px;
    letter-spacing: 1px;
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}

.breadcrumb a{
    text-decoration: none;
}

.breadcrumb a:hover{
    color: #FFF;
}

#res-but{
    
}

#home{
    background: url(blackbg1.jpg) 50% 0 repeat fixed;min-height: 1100px;
   	margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#home article{
	width: 980px;
	margin:0 auto;
	font-size: 30px;
	color: #D8D8D8; 
	text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#home a{
    text-decoration: none;
}

#home a:hover{
    color: #FFF;
}
    

#contact{
	background: url(greybg3.jpg) 50% 0 no-repeat;
    min-height: 700px;
    width: 100%
	margin: 0 auto;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#contact h1{
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    padding: 200px 0px 0px 0px;
    font-family: 'Exo 2',sans-serif;
}

#contact img{
    height: 120px;
    width: 120px;
}

#social{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


a{
	color: #D8D8D8;
}

#pp{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
    text-align: center;
    padding-top: 250px;
}

#contact img{
    position: relative;

}
#contact ul{
    list-style-type: none;
    text-align: center;
}

#contact ul li{
    display: inline;
    list-style-type: none;

}

